<div class='user-item'>
    <img src="<%= user.photo %>"><br>
    <div>
        <h2><%= user.name %></h2>
        <span>Post counter: <%= user.posts_counter if user.posts_counter %></span>
    </div>
</div>
