<section class='user-posts'>
    <nav>
        <%= render 'users/user', user: @user %>
    </nav>
    <div>
        <% @user.recent_posts.each do |post| %>
            <%= render 'posts/post', post: post %>
            <div class='user-comments'>
                <% post.recent_comments.each do |comment| %>
                    <p>Username <%= comment %></p>
                <% end %>
            </div>
        <% end %>
    </div>
</section>