* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
}

.users-list {
    margin-top: 3rem;
}


.user-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.user-item img {
    border: 2px solid #000;
    padding: 1rem;
    width: 8rem;
    margin-right: 2rem;
}

.user-item .user-description {
    border: 2px solid #000;
    display: flex;
    justify-content: space-between;
    width: 20rem;
    padding: .5rem;
}

.user-description a {
    text-decoration: none;
    color: #000;
}

.user-description span {
    margin-top: 3rem;
}

.bio {
    width: 30rem;
    border: 2px solid #000;
    padding: .5rem;
    margin-top: 1.5rem;
}

.post-item {
    border: 2px solid #000;
    margin-top: .5rem;
}

.post-details {
    display: flex;
    margin-left: 70%;
}

.user-comments {
    border: 2px solid #000;
    margin-top: .1rem;
}

.post-user {
    margin-top: 1.5rem;
}